.body{
    width: calc(100% - 16.5652rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;
}

.body-trimmed{
    width: calc(100% - 14.5652rem);
    margin-left: 14.5625rem;  
   

}

.body-md-screen{
    width: calc(100% - 3rem);
    margin-left: 3rem;
  
}

.defaultWidth{
    width: calc(100% - 14.5652rem);
    margin-left: 14.5625rem;   
}

 .banner{
    width: 100vw;
     margin-left : 50vw;  
 }



