.body{
    width: calc(100% - 16.5652rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #c9dae0;
    padding: 3rem;
}

.body-trimmed{
    width: calc(100% - 14.5652rem);
    margin-left: 14.5625rem; 
    padding-top: 15px;
    padding-right: 10px;  
   

}

.body-md-screen{
    width: calc(100% - 3rem);
    margin-left: 3rem;
    padding-top:  0.5rem;
    padding-right: 10px; 
  
}

.defaultWidth{
    width: calc(100% - 14.5652rem);
    margin-left: 14.5625rem; 
    padding-top: 0.5rem;
    padding-right: 10px;  
}

 .banner{
    width: 100vw;
     margin-left : 50vw;  
 }
 



