
<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()">S</button>
      <div class="logo-text" @fadeInOut *ngIf="collapsed">
        <h3>HMS</h3>
      </div>
      <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button>
    </div>
    <ul class="sidenav-nav">
       <li class="side-nav-item" *ngFor="let item of navData">
         <a class="sidenav-nav-link" [routerLink]="[item.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
           <i class="sidenav-link-icon" [class]="item.icon"></i>
           <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{item.label}}</span>
         </a>
       </li>    
    </ul>
</div>
    
    
